body {
	font-size: large;
	margin: 0;
	font-family: ConfigSemiBold, sans-serif;
}

@font-face {
	font-family: ConfigSemiBold;
	src: url(/PublicSans-SemiBold.ttf);
}

header {
	background: black;
	color: #FFFCF4;
	padding: 2ex;

	h1 {
		margin: 0;
		font-size: 400%;
	}

	#home {
		text-decoration: none;
		display: inline-block;
	}
}

main {
	margin: auto;
	padding: 2ex;
	max-width: 70ex;
}

img {
	width: 100%;
}

a {
	color: #3885f4;
	color: inherit;

	&:hover {
		color: black;
		background-color: #3885f4;
	}
}

p {
	text-indent: 3ex;
	text-align: justify;
}

.blocks {
	display: flex;
	flex-wrap: wrap;
	gap: 2ex;
	padding: 1ex 2ex;

	.social {
		background: #3885f4;
	}

	.bl {
		margin: 0;
		width: 50ex;
		padding: 2ex;

		.tag {
			font-size: small;
		}

		.lb {
			padding: 1ex 2ex;
			font-weight: bold;
			border: solid 3px;
			border-radius: 1ex;

			hr {
				border: solid 1.5px black;
			}
		}

		&.event {
			background: #3885f4;
			background: #2e9959;
		}

		&.petition {
			background: #f9c900;
		}
	}
}

.articles {

	.article {
		display: table;
		margin: 2ex;
		background: #f91616;
	}
}

.link {
	text-decoration: none;
	font-weight: bold;
	padding: 1ex 2ex;
	color: black;

	&:hover {
		box-shadow: 0 0 2ex 1ex grey;
	}
}

h1.hb {
	display: table;
	padding: 1ex 2ex;
	background: black;
	color: white;
}